<article class="container-md">
  <div class="row row-cols-1 g-4 py-5 justify-content-center">
    <div class="col-12 col-sm-10 text-center">
      <h2 class="fs-3 fw-bold text-primary pb-4">Sobre mim</h2>
      <p class="font-monospace opacity-75" style="text-align: justify;">
        👋 Sou um desenvolvedor frontend altamente qualificado e apaixonado por criar experiências digitais inspiradoras.
        Com mais de 3 anos de experiência em desenvolvimento Angular, meu foco principal é aprimorar a interface do usuário e a experiência do usuário.
      </p>
      <p class="font-monospace opacity-75" style="text-align: justify;">
        Com uma sólida base em desenvolvimento Angular e uma habilidade inerente para criar interfaces de usuário eficazes,
        estou comprometido em continuar contribuindo para projetos de sucesso e impulsionando a inovação em todas as oportunidades que surgirem.
        Se você está procurando um desenvolvedor frontend experiente que combine habilidades técnicas sólidas com uma paixão por design e experiência do usuário,
        estou pronto para enfrentar novos desafios e fazer a diferença em sua equipe.
      </p>
      <p class="font-monospace opacity-75" style="text-align: justify;">
        Conecte-se comigo e vamos explorar como posso agregar valor ao seu próximo projeto.
      </p>
    </div>
  </div>
</article>
