<footer class="container-md">
  <section class="row py-3">
    <div class="col-12 col-sm-6">
      <p class="m-0 text-body text-center text-sm-start opacity-75">Copyright © 2024 Keidson Roby</p>
    </div>
    <div class="col-12 col-sm-6">
      <ul class=" list-unstyled d-flex justify-content-center justify-content-sm-end m-0">
        <li class="ms-3">
          <a class="social-one text-body opacity-75" title="icon twitter" aria-label="twitter"
            href="https://x.com/KeidsonRoby"
            title="icon twitter"
            target="_blank"
            rel="noopener"
          ><i class="bi bi-twitter"></i></a>
        </li>
        <li class="ms-3">
          <a class="social-two text-body opacity-75" title="icon github" aria-label="github"
            href="https://github.com/keidsondesigner"
            title="icon github"
            target="_blank"
            rel="noopener"
          ><i class="bi bi-github"></i></a>
        </li>
        <li class="ms-3">
          <a class="social-three text-body opacity-75" title="icon linkedin" aria-label="Linkedin"
            href="https://www.linkedin.com/in/keidsonroby/"
            target="_blank"
            rel="noopener"
          ><i class="bi bi-linkedin"></i></a>
        </li>
      </ul>
    </div>
  </section>
</footer>
