<header class="container-header navbar navbar-expand-lg navbar-dark">
  <nav class="container-header__nav container-md py-1">
    <div class="container-header__nav__content-img col">
      <a class="container-header__nav__content-img-link" [routerLink]="['']">
        <img class="container-header__nav__content-img-link-item img-fluid" src="/assets/img/logo-portfólio.svg" alt="logo keidson roby" width="104" height="21">
      </a>
    </div>
    <button class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-header__nav-mobile collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="container-header__nav-mobile-nav-link navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="container-header__nav-mobile-nav-link nav-item me-sm-4">
          <a class="container-header__nav-mobile-nav-link-1 nav-link active opacity-75" href="#sobre">Sobre mim</a>
        </li>
        <li class="container-header__nav-mobile-nav-link nav-item me-sm-4">
          <a class="container-header__nav-mobile-nav-link-2 nav-link active opacity-75" href="#projetos">Projetos</a>
        </li>
        <li class="container-header__nav-mobile-nav-link nav-item">
          <a class="container-header__nav-mobile-nav-link-3 nav-link active opacity-75" href="#habilidades">Habilidades</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<hr class="border-secondary m-0">
