<div class="container-md py-5">
  <div
    class="row row-cols-1 row-cols-md-2 align-items-center justify-content-center"
  >
    <article class="order-2 order-md-1 pt-5 pt-sm-0">
      <div class="row">
        <h1
          class="fs-1 fw-bold text-light text-center text-md-start order-2"
        >
          Olá, eu sou o <br />Keidson Roby :)
        </h1>
        <p
          class="text-primary text-uppercase fw-bold d-flex justify-content-center justify-content-md-start order-1"
        >
          seja bem vindo!
        </p>
      </div>
      <p
        class="font-monospace text-center text-md-start text-light text-opacity-75 mb-2 mb-lg-1"
      >
        Desenvolvedor Frontend Angular & UI Designer desde 2018.
      </p>
      <p
        class="font-monospace text-center text-md-start text-light text-opacity-75 mb-4 mb-lg-4"
      >
        Entrego o melhor de mim para o seu projeto.
      </p>
      <div class="text-center text-md-start">
        <a
          class="btn btn-primary border-2 px-3 py-2 btn-space-entries"
          href="https://www.linkedin.com/in/keidsonroby/"
          target="_blank"
          rel="noopener"
          >Acessar o Linkedin</a
        >
        <a
          class="btn btn-outline-secondary text-light opacity-75 border-2 px-3 py-2"
          href="https://api.whatsapp.com/send?phone=5592994571858"
          target="_blank"
          rel="noreferrer"
          >Entrar em contato</a
        >
      </div>
    </article>
    <figure
      class="order-1 order-md-2 col-9 col-sm-7 col-md-5 col-lg-5 col-xl-4"
    >
      <img
        class="img-fluid d-flex m-auto"
        src="/assets/img/foto-keidson-400.png"
        alt="foto de keidson roby"
        width="376"
        height="376"
      />
    </figure>
  </div>
</div>
