<article class="container-md">
  <h2 class="fs-3 fw-bold text-center text-primary">Habilidades</h2>
  <div
    class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-6 g-4 py-5 justify-content-center"
  >
    <div class="col">
      <a
        class="d-flex justify-content-center bg-dark p-4 rounded card-skills"
        href="https://developer.mozilla.org/pt-BR/docs/Web/HTML"
        target="_blank"
        rel="noopener"
      >
        <img
          class="icon-skills"
          src="/assets/img/icon-html5.svg"
          alt="logo html5"
        />
      </a>
    </div>
    <div class="col">
      <a
        class="d-flex justify-content-center bg-dark p-4 rounded card-skills"
        href="https://developer.mozilla.org/pt-BR/docs/Web/CSS"
        target="_blank"
        rel="noopener"
      >
        <img
          class="icon-skills"
          src="/assets/img/icon-css.svg"
          alt="logo css"
        />
      </a>
    </div>
    <div class="col">
      <a
        class="d-flex justify-content-center bg-dark p-4 rounded card-skills"
        href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript"
        target="_blank"
        rel="noopener"
      >
        <img
          class="icon-skills"
          src="/assets/img/icon-javascript.svg"
          alt="logo javascript"
        />
      </a>
    </div>
    <div class="col">
      <a
        class="d-flex justify-content-center bg-dark p-4 rounded card-skills"
        href="https://angular.io/guide/what-is-angular"
        target="_blank"
        rel="noopener"
      >
        <img
          class="icon-skills"
          src="/assets/img/icon-angular.svg"
          alt="logo angular"
        />
      </a>
    </div>
    <div class="col">
      <a
        class="d-flex justify-content-center bg-dark p-4 rounded card-skills"
        href="https://getbootstrap.com/"
        target="_blank"
        rel="noopener"
      >
        <img
          class="icon-skills"
          src="/assets/img/icon-boostrap.svg"
          alt="logo bootsrap"
        />
      </a>
    </div>
    <div class="col">
      <a
        class="d-flex justify-content-center bg-dark p-4 rounded card-skills"
        href="https://tailwindcss.com/"
        target="_blank"
        rel="noopener"
      >
        <img
          class="icon-skills"
          src="/assets/img/icon-tw.svg"
          alt="logo tailwind css"
        />
      </a>
    </div>
  </div>
</article>
