@import "./_variables";
/* Config Default  */
html {
  scroll-behavior: smooth;

  /* Config scrollbar firefox  */
  scrollbar-color: $primary;
  scrollbar-width: thin;
}

body {
  overflow-x: hidden;
  background: rgb(26, 26, 26);
  background: linear-gradient(
    252deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(10, 10, 10, 1) 100%
  );
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: $primary !important;
}

.icon-skills {
  width: 4rem;
  height: 4rem;
}

@media only screen and (max-width: 768px) {
  .icon-skills {
    width: 3rem;
    height: 3rem;
  }
}

.btn-space-entries {
  margin-right: 0.5rem !important;
}

@media only screen and (max-width: 320px) {
  .btn-space-entries {
    margin-right: 0 !important;
    margin-bottom: 1.5rem !important;
  }
}

.card-projects {
  transition: transform 300ms;
  border: solid 1px $primary;

  &:hover {
    transform: scale(1.05);
    border: solid 1px $secondary;
  }
}

.card-skills {
  border: solid 1px $secondary;
  transition: border 0.3s ease;

  &:hover {
    border: solid 1px $primary;
  }
}
