<div class="container-md">
  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4 py-5 justify-content-center"
  >
    <div class="col">
      <a
        class="d-flex justify-content-center mb-4"
        href="https://github.com/keidsondesigner"
        title="icon github"
        target="_blank"
        rel="noopener"
      >
        <i
          class="bg-light bg-opacity-10 bi bi-github fs-4 px-3 py-2 rounded-circle text-primary"
        ></i>
      </a>
      <h2 class="fs-4 fw-bolder text-primary text-center">GitHub</h2>
      <p class="text-center text-light text-opacity-75">/keidsondesigner</p>
    </div>
    <div class="col">
      <a
        class="d-flex justify-content-center mb-4"
        href="https://www.linkedin.com/in/keidsonroby/"
        title="icon linkedin"
        target="_blank"
        rel="noopener"
      >
        <i
          class="bg-light bg-opacity-10 bi bi-linkedin fs-4 px-3 py-2 rounded-circle text-primary"
        ></i>
      </a>
      <h2 class="fs-4 fw-bolder text-primary text-center">Linkedin</h2>
      <p class="text-center text-light text-opacity-75">/keidsonroby</p>
    </div>
    <div class="col">
      <a
        class="d-flex justify-content-center mb-4"
        href="https://x.com/KeidsonRoby"
        title="icon twitter"
        target="_blank"
        rel="noopener"
      >
        <i
          class="bg-light bg-opacity-10 bi bi-twitter fs-4 px-3 py-2 rounded-circle text-primary"
        ></i>
      </a>
      <h2 class="fs-4 fw-bolder text-primary text-center">Twitter</h2>
      <p class="text-center text-light text-opacity-75">/keidsonroby</p>
    </div>
    <div class="col">
      <a
        class="d-flex justify-content-center mb-4"
        href="https://www.youtube.com/channel/UC-lemWp6LFgffpUs1oytywg"
        title="icon youtube"
        target="_blank"
        rel="noopener"
      >
        <i
          class="bg-light bg-opacity-10 bi bi-youtube fs-4 px-3 py-2 rounded-circle text-primary"
        ></i>
      </a>
      <h2 class="fs-4 fw-bolder text-primary text-center">Youtube</h2>
      <p class="text-center text-light text-opacity-75">
        Function Dev - Keidson Roby
      </p>
    </div>
  </div>
</div>
