<article class="container-md">
  <h2 class="fs-3 fw-bold text-center text-primary">Projetos</h2>
  <div
    class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 g-4 py-5"
  >
    <div class="col">
      <div class="p-3 bg-dark rounded card-projects">
        <div class="pb-4 col">
          <i class="bi bi-bookmark-check fs-3 text-primary"></i>
        </div>
        <h3 class="fs-4 fw-bold text-light">JWT Vue 3 e Firebase</h3>
        <p class="font-monospace text-light text-opacity-75">
          CRUD fullStack com Login, Categorias e Produtos.
          <a
            class="d-flex pt-3 text-decoration-none text-success"
            href="https://quasar-supabase-estoque.vercel.app/login"
            title="projeto JWT Vue 3 e Firebase"
            target="_blank"
            rel="noopener"
          >Acessar</a>
        </p>
      </div>
    </div>
    <div class="col">
      <div class="p-3 bg-dark rounded card-projects">
        <div class="pb-4 col">
          <i class="bi bi-bookmark-check fs-3 text-primary"></i>
        </div>
        <h3 class="fs-4 fw-bold text-light">App Inter Bank</h3>
        <p class="font-monospace text-light text-opacity-75">
          Aplicativo sendo desenvolvido em Ionic e Capacitor.
          <a
            class="d-flex pt-3 text-decoration-none text-success"
            href="https://clone-inter-beryl.vercel.app"
            title="projeto clone app Inter Bank"
            target="_blank"
            rel="noopener"
          >Acesse pelo celular</a>
        </p>
      </div>
    </div>
    <div class="col">
      <div class="p-3 bg-dark rounded card-projects">
        <div class="pb-4 col">
          <i class="bi bi-bookmark-check fs-3 text-primary"></i>
        </div>
        <h3 class="fs-4 fw-bold text-light">Gerenciador de Tarefas</h3>
        <p class="font-monospace text-light text-opacity-75">
          Adicione tarefas, edite, exclua ou conclua uma tarefa.
          <a
            class="d-flex pt-3 text-decoration-none text-success"
            href="https://angular-todo-list-mauve.vercel.app/home"
            title="projeto gerenciador de tarefas"
            target="_blank"
            rel="noopener"
          >Acessar</a>
        </p>
      </div>
    </div>
  </div>
  <div
    class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 g-4"
  >
    <div class="col">
      <div class="p-3 bg-dark rounded card-projects">
        <div class="pb-4 col">
          <i class="bi bi-bookmark-check fs-3 text-primary"></i>
        </div>
        <h3 class="fs-4 fw-bold text-light">My Wallet</h3>
        <p class="font-monospace text-light text-opacity-75">
          Gerencie seus gastos do dia-a-da, com a my wallet.
          <a
            class="d-flex pt-3 text-decoration-none text-success"
            href="https://keidsondesigner.github.io/wallet-app/"
            title="projeto My Wallet"
            target="_blank"
            rel="noopener"
          >Acessar</a>
        </p>
      </div>
    </div>
    <div class="col">
      <div class="p-3 bg-dark rounded card-projects">
        <div class="pb-4 col">
          <i class="bi bi-bookmark-check fs-3 text-primary"></i>
        </div>
        <h3 class="fs-4 fw-bold text-light">Encontrar CEP</h3>
        <p class="font-monospace text-light text-opacity-75">
          Busque pelo CEP, e encontre um endereço no Brasil.
          <a
            class="d-flex pt-3 text-decoration-none text-success"
            href="https://keidsondesigner.github.io/consultar-cep/"
            title="projeto Encontrar CEP"
            target="_blank"
            rel="noopener"
          >Acessar</a>
        </p>
      </div>
    </div>
    <div class="col">
      <div class="p-3 bg-dark rounded card-projects">
        <div class="pb-4 col">
          <i class="bi bi-bookmark-check fs-3 text-primary"></i>
        </div>
        <h3 class="fs-4 fw-bold text-light">Loja de Eletrônicos</h3>
        <p class="font-monospace text-light text-opacity-75">
          "Em desenvolvimento" inspirada em um ecommerce.
          <a
            class="d-flex pt-3 text-decoration-none text-success"
            href="https://angular-spa-five.vercel.app/lista-produtos"
            title="projeto Loja de Eletrônicos"
            target="_blank"
            rel="noopener"
          >Acessar</a>
        </p>
      </div>
    </div>
  </div>
</article>
